@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	background: #000;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

:root {
	--btn-gold: #feb902;
	--btn-trance:
}

html {

	cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' r='4'/%3E%3C/svg%3E") 3 3,
		auto;
}


a {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}



body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}

.navbar-brand {
	max-height: 54px;
}

.navbar-brand img {
	height: 40px;
}

.header .navbar {
	background-color: #000;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 999;
	top: -1px;
}

.header>.navbar .nav-link {
	color: #fff;
	font-size: 16px;
	padding: 0px 25px;
}

.header>.navbar .nav-link:hover {
	color: #63C6F7;
}

.navbar-brand {
	color: #fff;
	background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar-brand>span {
	font-size: 28px;
	background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 0px 8px;
}

span.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-image: url(../images/menu1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.phone a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.phone a i {
	font-size: 16px;
	padding-right: 7px;
}

.hero-section {
	margin-top: 60px;
	height: 100vh;
}

.hero-section .left-section {
	position: relative;
	top: 65%;
	z-index: 9;
}

.left-section>h4 {
	font-size: 20px;
	font-weight: 100;
}

.left-section>h2 {
	font-size: 57px;
	font-weight: 700;
}

.left-content {
	display: flex;
}

.left-content>.line {
	width: 6px;
	height: auto;
	background-color: var(--btn-gold);
	margin-right: 25px;
	margin-top: 8px;
}

.left-content>.pera-button>p {
	font-size: 16px;
}

a.btn-gold {
	padding: 10px 20px;
	background-color: var(--btn-gold);
	color: #000;
	font-weight: 400;
	border: 1px solid var(--btn-gold);
}

a.btn-trance {
	padding: 10px 20px;
	background-color: transparent;
	font-weight: 400;
	border: 1px solid #fff;
}

.right-section {
	position: relative;
	top: 0%;
}

.right-section>img {
	float: right;
}


.right-section {
	position: relative;
	top: 33%;
	left: 10%;
}

.right-section video {
	width: 100%;
}

/* section.product {
    height: 100vh;
} */
.crad-content {
	position: relative;
	border-right: 1px solid var(--btn-gold);
	padding-right: 39px;
}

/* .crad-content:hover{
    background-color:#686868;
} */
.crad-content h5 {
	font-size: 28px;
	margin-bottom: 30px;
}

.crad-content p {
	font-size: 12px;
	margin-bottom: 30px;
}

.crad-content img {
	width: 65%;
	margin: 0px 5%;
}

.product-card {
	padding: 14px;
	margin-bottom: 20px;
}

/* .crad-content a { 
    margin: 0px 31%;
} */
.crad-content a::after {
	content: '';
	position: absolute;
	width: 80px;
	height: 2px;
	background-color: #feb902;
	left: 0px;
	bottom: -15px;
}

.crad-content a:hover,
.card-back a:hover {
	color: var(--btn-gold);
}

.data h2 {
	font-size: 40px;
}

.right-pera p {
	font-size: 15px;
	width: 300px;
	float: right;
	color: #fff;
}

.video-inner {
	border: 1px solid var(--btn-gold);
}

.video-inner video {
	width: 100%;
	position: relative;
	z-index: 9;
}

.grey {
	position: relative;
}

.grey>.container {
	position: relative;
	z-index: 1;
	margin-top: 90px;
}

.grey::after {
	content: '';
	width: 100%;
	/* background-color: #d7d7d7; */
	height: 100vh;
	position: absolute;
	z-index: 0;
	top: -248px;
}

.grey .container h2 {
	font-size: 40px;

	color: #000;
}

.card-back p {
	font-size: 13px;
}

.card-back h2 {
	color: #fff !important;
	font-size: 30px;
}

.card-back {
	/*   background: #000;*/
	padding: 20px;
	position: relative;
	text-align: justify;
}

.card-back:hover>img {
	animation: rotate 1s linear;
}

.card-back img {
	width: 30%;
	margin-bottom: 14px;
	/* animation: rotate 1s linear; */
}

.card-back a::after {
	content: '';
	position: absolute;
	width: 80px;
	height: 2px;
	background-color: #feb902;
	left: 20px;
	bottom: 13px;
}

.img-product-images {
	margin-bottom: 40px;
	;
}


.crad-content:hover>.img-product-images {
	animation: rotate 8s linear infinite;
}

.product h1 {
	font-size: 57px;
	font-weight: 700;
}

.product p {
	font-size: 15px;
	font-weight: 400;
	margin: 25px 0px;
}

@keyframes rotate {
	0% {
		transform: scaleY(1);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


@media screen and (max-width:767px) {
	.left-section>h2 {
		font-size: 40px;
		font-weight: 700;
	}

	section.product {
		position: relative;
		height: 100% !important;
		width: 100%;
	}

	.right-section {
		position: relative;
		top: 67%;
		left: 0%;
	}

	.hero-section {

		height: 773px;
	}

	section.data {
		margin-top: 749px;
		text-align: center;
	}

	.left-content>.line {

		height: 166px;

	}

	.right-pera p {
		font-size: 15px;
		width: 100%;
		float: right;
		color: #fff;
	}
}


.cursor {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: var(--width);
	height: var(--height);
	transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
	transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
		150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
		150ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
	z-index: 1;
	pointer-events: none;
	will-change: transform;
}

@media (pointer: fine) {
	.cursor {
		display: block;
	}
}

/*.cursor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  border: 2px solid #fff;
  opacity: var(--scale);
  -webkit-transform: scale(var(--scale));
          transform: scale(var(--scale));
  transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
              300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
              150ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}*/
.cursor::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	right: 0;
	width: 55px;
	height: 40px;
	background-image: url('../images/ast.png');
	bottom: 0;
	background-repeat: no-repeat;

	/* border: 2px solid #fff; */
	/* opacity: var(--scale); */
	-webkit-transform: scale(var(--scale));
	transform: scale(var(--scale));
	transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
		300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
		150ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}

html:not(html:hover) .cursor::after {
	opacity: 0;
	transform: scale(0);
}

.hero-section {
	position: relative;
}

.fung1 {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 45%;
	z-index: 9;
}

.fung2 {
	position: absolute;
	width: 60px;
	height: 40px;
	top: 40%;
	left: 80%;
	z-index: 9;
}

.fung3 {
	position: absolute;
	width: 40px;
	height: 20px;
	top: 0;
	left: 40%;
	z-index: 9;
}

.fung4 {
	position: absolute;
	width: 60px;
	height: 30px;
	top: 0;
	left: 20%;
	z-index: 9;
}

body {
	background-image: url(https://www.solarsystemscope.com/textures/download/2k_stars.jpg);
	 
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}


/*slider css*/


.slider h1 {
	font-size: 55px;
	font-weight: 700;
}

.col-carousel {
	margin: 70px 0;
}

section.product {
	position: relative;
	height: 120vh;
	width: 100%;
}

section.slider {
	position: relative;
	margin-top: 50px;
}

.star {
	margin-top: 100px;
}

/* owl nav */
.owl-prev span,
.owl-next span {
	color: #FFF;
}

.owl-stage-outer {
	overflow: hidden;
}

i.fa.fa-arrow-left,
i.fa.fa-arrow-right {
	color: var(--btn-gold);
}

.owl-stage {
	display: flex;
}

.owl-prev span:hover,
.owl-next span:hover {
	color: #8199A3;
}

.owl-prev,
.owl-next {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: transparent;
	border: none;

}

.owl-prev {
	left: 75px;
}

.owl-next {
	right: 75px;
}

/* removing blue outline from buttons */
button:focus,
button:active {
	outline: none;
}

.img-slider img {
	width: 400px;
	height: 300px;
}

.slider h3 {
	font-size: 20px;
	padding: 20px;
}

.footer-list h2 {
	font-size: 22px;
	color: var(--btn-gold);
}

.footer-list ul {
	padding: 0px;
}

.footer-list ul li {
	list-style: none;
	font-size: 18px;
}

ul {
	padding: 0;
	list-style: none;
}

.footer-social-icons {
	width: 350px;
	display: block;
	margin: 0 auto;
}

.social-icon {
	color: #fff;
}

ul.social-icons {
	margin-top: 10px;
}

.social-icons li {
	vertical-align: top;
	display: inline;
	height: 100px;
}

.social-icons a {
	color: #fff;
	text-decoration: none;
}

.fa-facebook {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #322f30;
}

.fa-facebook:hover {
	background-color: #3d5b99;
}

.fa-twitter {
	padding: 10px 12px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #322f30;
}

.fa-twitter:hover {
	background-color: #00aced;
}

.fa-rss {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #322f30;
}

.fa-rss:hover {
	background-color: #eb8231;
}

.fa-youtube {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #322f30;
}

.fa-youtube:hover {
	background-color: #e64a41;
}

.fa-linkedin {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #322f30;
}

.fa-linkedin:hover {
	background-color: #0073a4;
}

.fa-google-plus {
	padding: 10px 9px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #322f30;
}

.fa-google-plus:hover {
	background-color: #e25714;
}

.social-links {
	text-align: center;
	margin: 50px 0px;
}

.logo-footer {
	max-height: 100%;
	margin: 43px 0px;
}

.logo-footer img {
	width: 100px;
	height: 100%;
}


/* page-1 */

.hero-section1 .left-content>.pera-button>p {
	font-size: 18px;
}


#page-1 {
	overflow: hidden;
}

section.hero-section1 {
	height: 100vh;
	position: relative;
	padding: 200px 0px;
}

#page-1>.head-inner {
	background-image: url('../images/mer-1.png');
	width: 100%;
	height: 100vh;
	position: relative;
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-color: #000;

}

.container.content-heading-banner {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50px;
}

.content-heading-banner h3 {
	font-size: 60px;
	font-weight: 900;
}

.hero-section1 .right-section {
	position: relative;
	top: -22%;
	left: 22%;
	max-width: 408px;
}

.hero-section1 .right-section>img {
	width: 100%;
}

.details {
	max-width: 150px;
	margin: 0px auto;
}

.details img {
	width: 100%;
}


.line1 {
	width: 416px;
	height: 120px;
	background-color: #0056b529;
	border: 2px solid var(--btn-gold);
	border-top-right-radius: 20px;
	position: relative;
	top: 20px;
	text-align: center;
	padding: 28px 0px;
}

.line2 {
	position: relative;
}

.line3 {
	position: relative;
}

.line4 {
	width: 416px;
	height: 120px;
	background-color: #0056b529;
	border: 2px solid var(--btn-gold);
	border-top-right-radius: 20px;
	position: relative;
	top: 20px;
	right: 48px;
	text-align: center;
	padding: 28px 0px;
}

img.planet-rotation {
	position: relative;
	animation: myfirst 20s infinite;
	animation-direction: alternate;

}

@keyframes myfirst {
	0% {
		left: 0px;
		top: 0px;
	}

	10% {
		left: 10px;
		top: 0px;
	}

	20% {
		left: 20px;
		top: 0px;
	}

	30% {
		left: -10px;
		top: 0px;
	}

	40% {
		left: -20px;
		top: 0px;
	}

	50% {
		left: 0px;
		top: 0px;
	}

	60% {
		left: -10px;
		top: 0px;
	}

	70% {
		left: -20px;
		top: 0px;
	}

	80% {
		left: -10px;
		top: 0px;
	}

	100% {
		left: 0px;
		top: 0px;
	}
}

@keyframes myfirst {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.line1 h5,
.line4 h5 {
	color: orange;
}

.hero-section1 .left-section {
	padding: 80px 0px;
}

.iframe-code {
	width: 100%
}

.iframe-code iframe {
	width: 100%;
}

.back-planet {
	background-color: #0056b514;
	border: 2px solid #0058b5;
	padding: 50px;
	text-align: center;
}

.back-planet h5 {
	padding-bottom: 30px;
	color: orange;
	font-size: 52px;
}
.About-planet h2 {
 
    color: orange;
    font-size: 40px;
    padding: 50px 0px;
}

.back-planet p {
	font-size: 20px;
}

.overview-planet .row {
	padding: 0px 10px;
}

.need-one{
    background-color: #0056b514;
	border: 2px solid #0058b5;
	padding: 50px 0px;
	text-align: center;
    position: relative;
    margin-bottom: 100px;
}
.needone-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.need-img {
    max-width: 100px;
}
.need-img img{
    width:100%;
}

.need-one::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 14px;
    background-color: #005ab5;
    top: -16px;
    border-top-right-radius: 20px;
    left: -2px;
    border: 2px solid #005ab5;
}

.need0ne-content {
    max-width: 775px;
    width: 778px;
}

footer{
	height: 100vh;
}
.round-img{
	position: relative;
	animation: first 20s infinite;
	animation-direction: alternate;

}
.back-planet:hover {
    border: 2px solid orange;
    transition: 1s ease all;
}
img.planet-rotation:hover {
    filter: invert(46%) sepia(79%) saturate(3449%) hue-rotate(18deg) brightness(105%) contrast(99%);
}
.need-one:hover {
    border: 2px solid orange;
}
.need-one:hover::before {
    background-color:  orange;
	border: 2px solid orange;
	
}

@keyframes  first {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}


 


































/* button */
button#space-btn {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border: 0;
	outline: 0;
	border-radius: 11px;
	background: #03001e;
	background: #1e160799;
	cursor: pointer;
	border: 2px solid var(--btn-gold);
}

.btn-container {
	width: 150px;
	height: 55px;
	position: relative;
	overflow: visible;
	margin: 0px auto;
}

button#space-btn {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	outline: 0;

	background: #1e160799;
	cursor: pointer;
	border: 2px solid var(--btn-gold);
}

.btn-container:hover {
	transform: scale(1.1);
	transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
}

/* .btn-container:hover:after {
    transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
    opacity: 0.6;
  } */

button span {
	color: var(--btn-gold);
	font-weight: 500;
	font-size: 16px;
}

button#space-btn div.star {
	width: 1px;
	height: 1px;
	background-color: white;
	border-radius: 50%;
	animation: blink 2s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star {
	width: 80px;
	height: 1px;
	position: absolute;
	background: linear-gradient(80deg, #ffffffff, #ffffff00);
	border-radius: 50%;
	transform: rotate(-40deg);
	opacity: 0
}

button#space-btn div.shooting-star-1 {
	animation: fallingStar1 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-2 {
	animation: fallingStar2 2s 10s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-3 {
	animation: fallingStar3 8s 20s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

button#space-btn div.shooting-star-4 {
	animation: fallingStar4 4s 6s cubic-bezier(0.15, 0.83, 0.66, 1) infinite;
}

@keyframes blink {
	0% {
		box-shadow: 0 0 10px 0 white;
	}

	50% {
		box-shadow: 0 0 10px 2px white;
	}

	100% {
		box-shadow: 0 0 10px 0 white;
	}
}

@keyframes fallingStar1 {
	0% {
		top: -10px;
		left: 220px;
		opacity: 1;
	}

	100% {
		top: 200px;
		left: -20px;
		opacity: 1;
	}
}

@keyframes fallingStar2 {
	0% {
		top: -10px;
		left: 150px;
		opacity: 1;
	}

	100% {
		top: 200px;
		left: -90px;
		opacity: 1;
	}
}

@keyframes fallingStar3 {
	0% {
		top: -10px;
		left: 80px;
		opacity: 1
	}

	100% {
		top: 200px;
		left: -160px;
		opacity: 1
	}
}

@keyframes fallingStar4 {
	0% {
		top: -10px;
		left: 0px;
		opacity: 1;
	}

	100% {
		top: 200px;
		left: -240px;
		opacity: 1;
	}
}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--btn-gold);
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab;
}
 